$header-back: $invert-main;
$header-color: $invert-typography-3;

$layout-back: $background-border-2;
$layout-color: $typography-2;

$team-info-back: $invert-main;
$team-info-color: $invert-typography-3;

$btn-primary-back: $button-info;
$btn-primary-border-color: $button-info;
$btn-primary-color: $invert-typography-4;
